/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* Colors */
    --main:#572EE5;
    --secondary:#50E3C2;
    --black:#000;
    --placeholder:#9CAFC3;
}
body{
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    padding: 1.4rem;
    background: #FFFFFF;
    border: 1px solid #572EE5;
    cursor: pointer;
    border-radius: 50%;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header Section */
header{
    background: rgba(255,255,255,0.50);
    margin-bottom: 7.6rem;
    border-top: 5px solid var(--main);
}
nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 1.8rem;
}
.logo{
    flex: 1 1 40rem;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 40rem;
}
ul li{
    font-size: 1.3rem;
    font-weight: 700;
}
ul li a{
    color: var(--main);
}
ul li a:hover{
    color: #9CAFC3;
}
.menu-hamburguesa{
    display: none;
}
/* Header Section */

/* Search Section */
.search-gif h3{
    font-size: 3.5rem;
    text-align: center;
    color: var(--main);
    line-height: 5rem;
    margin-bottom: 2.4rem;
}
.search-gif h3 span{
    color: var(--secondary);
}
#searchGifos{
    position: relative;
    background: #FFFFFF;
    border: 1px solid var(--main);
    border-radius: 2.7rem;
    width: 551px;
    height: 50px;
    padding-left: 54px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: var(--placeholder);
    outline: 0;
}
.search-gif .input-search{
    position: relative;
}
.input-search img{
    position: absolute;
    right: 0;
    top:15px;
    margin-right: 20px;
}
#lupaActive{
    position: absolute;
    left: 0;
    margin-top: 0rem;
    margin-left: 2rem;
    display: none;
}
#close{
    position: absolute;
    right: 0;
    margin-top: 0.5rem;
    margin-right: 2rem;
    display: none;
}
.trending-result{
    margin-top: 6rem;
    
}
.trending-result h4{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--main);
    margin-bottom: 0.7rem;
}
.trending-result p{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--main);
    text-align: center;
    line-height: 2.5rem;
}
.contenedor-gifs {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
    width: 90%;
    margin: auto;
}
/* Search Section */

/* Trending Section */
.trending{
    background: #F3F5F8;
    min-height: 50vh;
    position: relative;
    overflow: hidden;
}
.trending-title h3{
    font-size: 2.5rem;
    color: var(--main);
    text-align: center;
    line-height: 3rem;
    font-weight: 700;
    margin-top: 6.7rem;
}
.trending-title p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.8rem;
    color: #000000;
    text-align: center;
    margin-top: 1.2rem;
    margin-bottom: 5rem;
}
.contenedor-trending{
    display: flex;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.contenedor-gif {
    position: relative;
     margin-top: 50px;
	width: 357px;
	 height: 275px;
	margin-right:12px;
}
.contenedor-gif img{
    position: absolute;
    width: 357px;
    height: 275px;
    left: 0;
}
.slider-left{
    border: 1px solid #572EE5;
    position: relative;
    width:40px;
    height:40px;
    top: 17.5rem;
    margin-left: 2rem;
}
.slider-left:hover{
    background: #9d86f0;
    cursor:pointer;
}
.slider-left img{
    position: absolute;
    padding: 1.2rem 1.2rem;
}
.slider-right{
    width:40px;
    height:40px;
    border: 1px solid #572EE5;
    position: absolute;
    right: 0;
    top: 35rem;
    margin-right: 4rem;
}
.slider-right:hover{
    background: #9d86f0;
    cursor:pointer;
}
.slider-right img{
    position: absolute;
    padding: 1.2rem 1.5rem;
}
/* Trending Section */

/* Favourites Section */
.title-favourite{
    position: relative;
    margin-bottom: 11rem;
}
.title-favourite img{
    position: absolute;
    top: -5rem;
    color:#50E3C2;
}
.title-favourite h2{
    position: absolute;
    top: -2rem;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
}
.save-favourite .circle{
    background: #F3F5F8;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
}
.save-favourite img{
    position: absolute;
    top: 34rem;
    width: 76px;
    height: 54px;
}
.save-favourite h4{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    line-height: 33px;
    margin: 2rem 0 13rem 0;
}
.my-favourites{
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Favourites Section */

/* MyGifos Section */

.title-gif{
    position: relative;
    margin-bottom: 11rem;
}
.title-gif img{
    position: absolute;
    top: -5rem;
    color:#50E3C2;
}
.title-gif h2{
    position: absolute;
    top: -2rem;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
}

.create-gif .circle{
    background: #F3F5F8;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
}
.create-gif img{
    position: absolute;
    top: 34rem;
    width: 76px;
    height: 54px;
}
.myGif-container{
    position: relative;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-gif h4{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    line-height: 33px;
    margin: 2rem 0 13rem 0;
}
/* MyGifos Section */

/* Crear Gif Section */
.container-create{
    margin-bottom: 1rem;
}
.create{
    position: relative;
}
.camara{
    margin-left: 2rem;
}
.light-camara{
    position: absolute;
    top: 1.8rem;
    left: 14rem;
}

.create-text{
    border: 1px solid #572EE5;
    width: 688px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: -5rem;
    right: 25%
}
.create-text h1{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 35px;
    max-width: 550px;
}
.green-text{
    color: #50E3C2;
}
.create-text h3{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 29px;
    margin-top: 0.5rem;
}
.movie-icon{
    position: absolute;
    right: 0;
    margin-right: 14rem;
    bottom: 11rem;
}
.clock{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 15px;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    position: absolute;
    right: 35rem;
    bottom: 13rem;
    cursor: pointer;

}
.line-blue{
    background: #572EE5;
    width: 796px;
    height: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 5rem auto;
}
.circles{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1rem 2rem;
}
.circles ul{
    display: flex;
    flex-direction: row;
    margin: 2rem ;
}
.circles ul li{
    margin: 20rem 3rem 2rem 3rem;
}
.one{
    border: 1px solid #572EE5;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    color: #572EE5;
    text-align: center;
    position: absolute;
    padding: 0.25rem 0;
}
.two{
    border: 1px solid #572EE5;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    color: #572EE5;
    text-align: center;
    position: absolute;
    padding: 0.25rem 0;
}
.three{
    border: 1px solid #572EE5;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    color: #572EE5;
    text-align: center;
    position: absolute;
    padding: 0.25rem 0;
}
.btn-start button{
    border: 1px solid #572EE5;
    border-radius: 25px;
    display: flex;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 13px;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;
}
.btn-record button{
    border: 1px solid #572EE5;
    border-radius: 25px;
    display: flex;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 13px;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;
}
.btn-finish button{
    border: 1px solid #572EE5;
    border-radius: 25px;
    display: flex;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 13px;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;
}
.video{
    position: absolute;
    top: -2rem;
    width: 550px;
    height: 320px;
    margin-left: 40rem;
}
#prev{
    position: absolute;
    top: -2rem;
    width: 550px;
    height: 320px;
    margin-left: 40rem;
}
#prev-overlay{
    position: relative;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 15px;
    color: #ffff;
    text-align: center;
    position: absolute;
    top: -2rem;
    margin-left: 40rem;
    z-index: 1;
    padding: 15rem 2rem;
    background: #572EE5;
    opacity: 0.6;
    width: 550px;
    height: 320px;
}
.download-video{
    position: relative;
}
.download-gif-created{
    display: block;
    position: relative;
}
.download-gif-created img{
    position: absolute;
    right: 93%;
    top: -17rem;
    background: #FFFFFF;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    z-index:2;
    cursor: pointer;
    opacity: 1;
}
.link-gif-created img{
    position: absolute;
    right:90%;
    top: -17rem;
    background: #FFFFFF;
    border-radius: 0.5rem;
    padding: 1rem 0.8rem;
    z-index: 2;
    cursor: pointer;
    opacity: 1;
}
/* Crear Gif Section */

/* Footer */

footer{
    border: none;
    border-bottom: 5px solid var(--main);
    min-height: 10vh;
    overflow: hidden;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
footer ul li{
    margin: 0 1.5rem;
}

/* Footer */

/* JavaScript */
.icono-busqueda{
    background: url('/img/icon-search.svg')no-repeat;
}
.img-results, .img-search-result{
    position: relative;
    margin: 0 2rem;
    width: 90%;
}
.img-results img{
    width: 357px;
    height: 275px;
}
.img-search-result img{
    width: 260px;
    height: 200px;
    position: relative;
}
#suggestion-container{
    padding-left:37px;
  font-size: 16px;
  color:#9CAFC3;
  width:100%;
}

.div-suggestion p{
    cursor: pointer;
    padding: 1rem 2rem;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-align: left;
}
.textoBusqueda{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #572EE5;
    text-align: center;
    font-size: 35px;	
    margin: 4rem 0 6rem 0;
}
.button-gif{
    display: none;
}
.button{
    border-radius: 0.2rem;
    width: 127px;
    border: 1px solid #572EE5;
    border-radius: 25px;
    margin: 5rem 60rem;
    outline: 0;
}
.button-gif button:hover{
    background:#572EE5;
    color: white;
    font-size: 1.5rem;
}
.ocultar{
	display:none;	
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  .user {
    position: absolute;
    width: 50%;
    left: -4%;
    top: 200px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    text-align: left;
    color: white;
    z-index: 1;
    opacity:0;
    margin-left: 3.2rem;
  }
  
  .title {
    position: absolute;
    width: 70%;
    left: 2%;
    top: 230px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-align: left;
    color: white;
    z-index: 1;
    opacity:0;
    margin-left: 1rem;
  }
  
  .heart {
    position: absolute;
    width: 32px;
    height: 32px;
    left:70%;
    top: 31px;
    transition: opacity .35s ease;
    background-size: 32px 32px;
    z-index: 1;
    opacity: 0;
    background: wheat;
    cursor: pointer;
  }
  .heart img{
    width: 18px;
    height: 16px;
    position: absolute;
    margin: 1rem 0.75rem;
  }
  .actHeart{
      background: url('/img/icon-fav-active.svg') no-repeat;
      background-size: 100%;
  }
  
  .download {
    position: absolute;
    width: 32px;
    height: 32px;
    left:80%;
    top: 31px;
    transition: opacity .35s ease;
    
    background-size: 32px 32px;
    z-index: 1;
    opacity: 0;
    background: wheat;
    cursor: pointer;
  }
  .download img{
    width: 18px;
    height: 16px;
    position: absolute;
    margin: 1rem 0.75rem;
  }
  .max {
    position: absolute;
    width: 32px;
    height: 32px;
    left:90%;
    top: 31px;
    transition: opacity .35s ease;
    background: url('img/icon-max.svg') no-repeat;
    background-size: 32px 32px;
    z-index: 1;
    opacity: 0;
    background: wheat;
    cursor: pointer;
  }
  .max img{
    width: 18px;
    height: 16px;
    position: absolute;
    margin: 1rem 0.75rem;
  }
  .img-search-result:hover .title{
      opacity: 1;
  }
  .img-results:hover .title {
    opacity:1;
  }
  .img-search-result:hover .user{
    opacity: 1;
}
  .img-results:hover .user {
    opacity:1;
  }
  .img-search-result:hover .heart{
    opacity: 1;
}
  .img-results:hover .heart {
    opacity: 1;
  }
  .img-search-result:hover .max{
    opacity: 1;
}
  .img-results:hover .max {
    opacity: 1;
  }
  .img-search-result:hover .download{
    opacity: 1;
}
  .img-results:hover .download {
    opacity: 1;
  }
  .img-search-result:hover .overlay{
    display: block;
    width: 100%;
    opacity: 0.8;
    background: #572EE5;
  }
  .img-results:hover .overlay {
    display: block;
    opacity: 0.8;
    background: #572EE5;
  }
  .modal-gif{
      min-height: 100vh;
      position: relative;
  }
  .close-modal{
      background: url('/img/button-close.svg') no-repeat;
      position: absolute;
      width: 20px;
      height: 20px;
      right: 20rem;
      top: 5rem;
      cursor: pointer;
      background-size: 100%;
      
  }
  .contenedor-modal{
    margin-top: 0;
    width: 695px;
    height: 385px
  }
  .title-modal{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    text-align: center;
    position: absolute;
    left: 33rem;
    bottom: 7rem;
  }
  .user-modal{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    text-align: center;
    position: absolute;
    left: 33rem;
    bottom: 9rem;
  }
  .heart-modal{
      position: absolute;
      right: 38rem;
      bottom: 7.5rem;
      background: url('/img/icon-fav-active.svg')no-repeat;
      width: 20px;
      height: 20px;
  }
  .download-modal{
    position: absolute;
    right: 34rem;
    bottom: 7.5rem;
    background: url('/img/icon-download.svg')no-repeat;
    width: 20px;
    height: 20px;
}


/* Mobile */

@media screen and (max-width: 768px){
    ul li{
        margin: 0 3rem;
        font-size: 13px;
    }
    .movie-icon{
        margin-right: -5rem;
    }
    .clock{
        right: 10rem;
    }
    .circles{
        text-align: center;
        margin: 1rem 2rem 1rem 10rem;
    }
    .create-text{
        right: 10%;
        width: 450px;
    }
    #prev-overlay{
        width: 400px;
        margin-left: 26.5rem;
    }
    #prev{
        width: 400px;
        margin-left: 26.5rem;
    }
    .button-gif .button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0rem auto 4rem auto;
    }
    .slider-left, .slider-right{
        display: none;
    }
    .img-results .user{
        top: 200px;
    }
    .img-results .title{
        top: 230PX;
    }
    .img-results .heart{
        left: 23rem;
    }
    .img-results .download{
        left: 27rem;
    }
    .img-results .max{
        left: 31rem;
    }
    .save-favourite h4{
        max-width: 400px;
    }
    #download-gif-created{
        right: 80%;
    }
    #link-gif-created{
        right: 74.5%;
    }
}

@media screen and (max-width: 425px){
    nav{
        position: relative;
    }
    .menu-hamburguesa{
        margin-top: 2rem;
        display: block;
        z-index: 2;
    }
    .list{
        margin-top: 6rem;
        position: fixed;
        left: 0;
        background:rgb(103,66,232);
        height: 90vh;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        z-index: 1;
       clip-path: circle(90px at 90% -20%);
       -webkit-clip-path: circle(90px at 90% -20%);
       transition: all 1s ease-out;
       overflow: hidden;
    }
    #btn-crear{
        display: none;
    }
    .open{
        clip-path: circle(1000px at 90% -20%);
        -webkit-clip-path: circle(1000px at 90% -20%);
        pointer-events: all;
    }
    .close-btn{
        display: none;
    }
    .list a{
        color: white;
    }
    .search-gif h3{
        font-size: 2.5rem;
        max-width: 286px;
    }
    .search-gif img {
        width: 273px;
        height: 130px;
    }
    #searchGifos {
        width: 334px;
    }
    #lupa{
        width: 20px;
        height: 20px;
    }
    .trending-result p {
        max-width: 225px;
    }
    .trending-title h3{
        font-size: 2rem;
    }
    .trending-title p{
        max-width: 333px;
    }
    .contenedor-trending{
        display: flex;
    }
    .img-search-result img {
        width: 95%;
        margin: 0 auto;
    }
    .user{
        top: 110px;
        font-size: 14px;
    }
    .title{
        top: 150px;
        font-size: 14px;
    }
    .max{
        left: 29rem;
    }
    .heart{
        left: 21rem;
    }
    .download{
        left: 25rem;
    }
    .heart img, .download img, .max img{
        margin-top: 0.8rem;
    }    
    .slider-left, .slider-right{
        display: none;
    }
   footer ul{
       width: 80%;
       margin: 0 auto;
   }
}

@media screen and (max-width: 375px){
    .user{
        top: 110px;
        font-size: 14px;
    }
    .title{
        top: 150px;
        font-size: 14px;
    }
    .max{
        left: 25rem;
    }
    .heart{
        left: 17rem;
    }
    .download{
        left: 21rem;
    }
    .heart img, .download img, .max img{
        margin-top: 0.8rem;
    } 
}

@media screen and (max-width: 320px){
    .user{
        top: 110px;
        font-size: 14px;
    }
    .title{
        top: 150px;
        font-size: 14px;
    }
    .max{
        left: 21rem;
    }
    .heart{
        left: 13rem;
    }
    .download{
        left: 17rem;
    }
    .heart img, .download img, .max img{
        margin-top: 0.8rem;
    } 
}

/* Desktop */
@media screen and (min-width: 1024px){
    .img-search-result .user{
        top: 120px;
        font-size: 14px;
    }
    .img-search-result .title{
        top: 160px;
        font-size: 14px;
    }
    .img-search-result .max{
        left: 22rem;
    }
    .img-search-result .heart{
        left: 14rem;
    }
    .img-search-result .download{
        left: 18rem;
    }
}